:root{
    --font-navbar-title: poppinsreg;
    --font-navbar-anchors: poppinsreg;
    --font-input-bar: poppinsreg;
    --font-page-title: poppinsreg;
    --font-page-body: poppinsreg;

    /* FBA1B7 6C5F5B*/
    --font-color-navbar-title: #6C5F5B;
    --font-color-navbar-anchors: #434242;
    /* --font-color-input-bar: #6C5F5B; */
    --font-color-input-bar: #c0421b;
    --font-color-page-title: "";
    --font-color-page-body:#434242;

    --font-size-navbar-title: "";
    --font-size-navbar-anchors: "";
    --font-size-input-bar: "";
    --font-size-page-title: "";
    --font-size-page-body: "";

    --leter-spacing-navbar-title: 2px;
    --leter-spacing-navbar-anchors: 1px;
    --leter-spacing-input-bar: 1px;
    --leter-spacing-page-title: 1px;
    --leter-spacing-page-body: 1px;
}

.app-navbar{
    /* border: 1px dashed rgb(91, 91, 91); */
    display: grid;
    grid-template-columns: 15% 33% 52%;
    width: 98.8vw;
    background-color: #fff;
    transition: 0.8s ease;
    /* border-bottom: 1px solid rgba(193, 193, 193, 0); */
    padding-top: 11px;
}

/* .app-navbar > div {
    border: 1px dashed orange;
} */
.app-navbar > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-navbar > div > h1 {
    padding-left: 0px;
    font-family: var(--font-navbar-title);
    color: var(--font-color-navbar-title);
    letter-spacing: var(--leter-spacing-navbar-title);
    font-weight: 600;
    cursor: pointer;
}
.app-navbar > div > div > input {
    font-size: 18px;
    color: var(--font-color-input-bar);
    height: 40px;
    width: 320px;
    outline: none;
    border: 0px;
    border-radius: 20px;
    padding-inline: 25px;
    /* box-shadow: 2.5px 2.5px 4px rgba(74, 74, 74, 0.306); */
    /* border: 0.7px solid rgba(74, 74, 74, 0.306); */


    font-family: var(--font-page-body);
    color: var(--font-color-page-body);
    letter-spacing: var(--leter-spacing-page-body);
}
.app-navbar>div>div>button{
    display: none;
    font-family: var(--font-page-body);
    letter-spacing: var(--leter-spacing-page-body);
}
/* .app-navbar > div > ul {
    border: 1px solid;
} */
.app-navbar-ul {
    padding-right: 0px;
    display: flex;
    justify-content: end;
    width: 100%;
}

.app-navbar-ul > li {
    list-style: none;
    margin-inline: 17px;
}
.app-navbar-ul > li > a {
    text-decoration: none;
    font-family: var(--font-navbar-anchors);
    color: var(--font-color-navbar-anchors);
    font-size: 1.8vh;
    letter-spacing: var(--leter-spacing-navbar-anchors);
}

.navbar-searchbar {
    transition: all 0.8s ease;
}
.searchbar-centered{
    /* background-color: aqua; */
    position: fixed;
    /* width: 400px; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    z-index: 9999;

    display: flex;
    flex-direction: column;

}
.searchbar-centered > input {
    height: 100px !important;
    /* border: 0.5px solid rgba(160, 159, 159, 0.191); */
    /* box-shadow: 2.5px 2.5px 4px #4a4a4a4e; */
}
.searchbar-centered>button {
    display: block !important;
    border: 0px;
    margin-top: 20px;
    padding-inline: 31px;
    padding-block: 13px;
    border-radius: 18px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
    width: 160px;
    align-self: end;
    /* background-color: #A34343; */
    /* background-color: #6C5F5B; */
    background-color: #92807a;
    color: #fff;
}
.searchbar-centered>button:hover{
    background-color: rgba(205, 205, 205, 0.855);
}
.navbar-fixed{
    /* position: absolute; */
    position: fixed;
    top: 0;
    left: 0;
    width: 98.8vw;
    padding-block: 11px;
    background-color: #fff;
    /* border-bottom: 1px solid rgb(222, 220, 220);; */
    /* box-shadow: -3px 3px 4px rgba(183, 182, 182, 0.554); */
    /* box-shadow: -3px 3px 3px #6c5f5b34 ; */
    z-index: 9000;
}