/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@font-face {
  font-family: idayara;
  src: url("./assets/fonts/IdayaraRegular-nRaVP.ttf") format("truetype");
}
@font-face {
  font-family: rudiment;
  src: url("./assets/fonts/Rudiment-0gwP.ttf") format("truetype");
}
@font-face {
  font-family: rubberduck;
  src: url("./assets/fonts/RubberDuckiesMedium-Ka1Z.otf") format("opentype");
}
@font-face {
  font-family: sayfull;
  src: url("./assets/fonts/Sayfull-n8r0.ttf") format("truetype");
}
@font-face {
  font-family: sundaydonut;
  src: url("./assets/fonts/SundayDonuts-8MoYz.otf") format("opentype");
}
@font-face {
  font-family: wintercoffee;
  src: url("./assets/fonts/WinterCoffee-EaDM8.otf") format("opentype");
}
@font-face {
  font-family: poppinsreg;
  src: url("./assets/fonts/PoppinsRegular-B2Bw.otf") format("opentype");
}
body {
  background-color: #fff;
  font-family: poppinsreg;
}
h1 {
  padding: 0px;
  margin: 0px;
  letter-spacing: 2px;
}

.app-pages {
  margin: 0px;
  padding: 0px;
}

p{
  padding: 0px;
  margin: 0px;
}