.page-landing{
    /* border: solid 1px; */
    width: 100vw;
}
/* ------------------------------------------- PC VIEW */
.w-pc-page-section-filler{
    /* position: relative; */
    /* border: dashed 1px green; */
    width: 100%;
    height: 50vh;
    transition: 0.4s;
    /* border: dashed 1px green; */
    /* z-index: -99; */
}
.w-pc-page-section-filler-scrolled {
    /* position: relative; */
    /* border: dashed 1px green; */
    width: 100%;
    height: 20vh;
    /* z-index: -99; */
}
/* ------------------------------------------- TAB VIEW */
.w-tab-page-section-filler {
    /* position: relative; */
    /* border: dashed 1px green; */
    width: 100%;
    height: 30vh;
    transition: 0.4s;
    /* border: dashed 1px green; */
    /* z-index: -99; */
}
.w-tab-page-section-filler-scrolled {
    /* position: relative; */
    /* border: dashed 1px green; */
    width: 100%;
    height: 30vh;
    /* z-index: -99; */
}
/* ------------------------------------------- MOBILE VIEW */
.w-mob-page-section-filler {
    /* position: relative; */
    /* border: dashed 1px green; */
    width: 100%;
    height: 50vh;
    transition: 0.4s;
    /* border: dashed 1px green; */
    /* z-index: -99; */
}
.w-mob-page-section-filler-scrolled {
    /* position: relative; */
    /* border: dashed 1px green; */
    width: 100%;
    height: 20vh;
    /* z-index: -99; */
}


.color-draping{
    width: 100%;
    display: flex;
    /* height: 30vh; */
    flex-direction: column;
    align-items: start;
    padding-block: 7vh;
    padding-inline: 2vw;
    flex-wrap: nowrap;
    box-sizing: border-box;
    margin-right: 100px;
    opacity: 0%;
    transition: 0.9s ease;
    /* border: 1px solid goldenrod; */
}
.color-draping > h1 {
    align-self: start;
}

.conveyor{
    display: flex;
    /* border: 0.5px dashed orange; */
    /* height: 200px; */
    width:100%;
    overflow-x: auto;
    flex-wrap: nowrap !important;
    padding-block: 30px;
}
.conveyor-item{
    /* border: 4px dashed rgb(93, 93, 93); */
    /* border-radius: 50%; */
    
    /* background-color: aqua; */
    width: 130px;
    height: 130px;
    margin-right: 60px;
    flex-shrink: 0;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hex-layers-wrap{
    height: 100px;
    width: 100px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hex-layers{
    height: 24%;
    width: 98%;
    
    /* border: 1px solid black; */
}
.layer-1{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.layer-4 {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.section-show{
    opacity: 100%;
}

@keyframes slide {
    0% {
        transform: translateX(0);
        /* Start from initial position */
    }

    50% {
        transform: translateX(-300%);
        /* Slide to the left by 100% of element's width */
    }

    100% {
        transform: translateX(0%);
        /* Slide to the left by 100% of element's width */
    }
}
/* Apply animation to your element */
.sliding-element {
    width: 200px;
    /* Example width */
    overflow: hidden;
    /* Hide the overflow */
}

.sliding-content {
    white-space: nowrap;
    /* Ensure contents stay in one line */
    /* animation: slide 18s linear infinite; */
    /* Apply animation with a duration of 5 seconds, linear timing and infinite repeat */
}
.conveyor:hover .sliding-content {
    /* animation-play-state: paused; */
    /* Pause the animation when .sliding-element is hovered */
    transform: translateX(0);
    /* Bring the content to the initial position */
    overflow-x: auto;
    /* Allow horizontal scrolling when hovered */
}


h6{
    color: #bb9cc081;
}

/* body {
    background-color: black;
}
.app-navbar, .app-navbar > div > div > input {
    background-color: black;
    color: #fff !important;
}
.searchbar-centered > button {
    background-color: black;
}

.app-navbar>div>h1 {
    color: pink;
} */
/* 
1. body bgcolor + color
2. app-nabvar.,navbar-searchbar bg color + color
3. searchbar-centered > button bg color + color
4. app-nabvar>div>h1 color
 */
/* or .navbar-searchbar */

/* level 1 background and banner*/
/* body {
    background-color: #222831;
} */
/* .app-navbar{
    background-color: #222831;
} */
/* .app-navbar > div > div input{
    background-color: #222831;
} */

/* color 2 */
/* .app-navbar>div>div button {
    background-color: #31363F;
}
.app-navbar>div>div button:hover {
    background-color: #76ABAE;
} */


/* color 3 button or banner on tops */
/* .app-navbar > div > div button {
    background-color: #76ABAE;
} */
/* .app-navbar>div>div>input {
    border: 0.7px solid #76abae2c ;
} */


/* .searchbar-centered input {
    box-shadow: 2px 2px 3px #76abae2b;
} */

/* color 4 text */
/* 3 to pink */
.h6{
    color: #f3d0d733;
}
/* 4 to blue  */
.h6 {
    color: #3d3c4250;
}

/* .app-navbar > div h1 {
    color: #EEEEEE;
} */
/* .app-navbar-ul > li a {
    color: #eeeeeed2;
} */

/* .app-navbar>div>div input{
    color: #EEEEEE;
} */
/* .app-navbar > div > div input::placeholder{
    color: #eeeeee5f;
} */
/* .app-navbar>div>div input::placeholder {
    color: red;
} */

/* .app-navbar>div>div button {
    color: #EEEEEE;
} */

/* .app-navbar>div>h1 {
    color: #F6B17A !important;
}


.app-navbar>div>div>input{
    background-color: #2D3250;
    border: 0.5px solid #f6b27aac !important;
    color: #F6B17A;
}
.searchbar-centered > button {
    background-color: #424769;
}
.searchbar-centered > button:hover {
    background-color: #7077A1;
}

.app-navbar>div>div>input::placeholder {
    color: #f6b27a79;
}
.searchbar-centered>input {
    height: 100px !important;
    
    box-shadow: 2.5px 2.5px 4px #f6b27aac;
}
.navbar-fixed{
    box-shadow: -3px 3px 4px rgba(183, 182, 182, 0);
}


} */