.page-landing{
    /* border: solid 1px; */
    width: 90vw;
}
.page-section{
    /* position: relative; */
    /* border-block: dashed 1px green; */
    width: 98.5vw;
    height: 50vh;
    /* z-index: -99; */
}

.color-draping{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 7vh;
    padding-inline: 2vw;
    flex-wrap: nowrap;
    box-sizing: border-box;
    margin-right: 100px;
    opacity: 0%;
    transition: 0.9s ease;
    /* border: 1px solid; */
}
.color-draping > h1 {
    align-self: start;
}

.conveyor{
    display: flex;
    /* border: 0.5px dashed orange; */
    /* height: 200px; */
    width:100%;
    overflow-x: auto;
    flex-wrap: nowrap !important;

    padding-block: 30px;

}
.conveyor-item{
    border: 4px dashed rgb(93, 93, 93);
    border-radius: 50%;
    /* background-color: aqua; */
    width: 130px;
    height: 130px;
    margin-right: 80px;
    flex-shrink: 0;
    cursor: pointer;
}

.section-show{
    opacity: 100%;
}

@keyframes slide {
    0% {
        transform: translateX(0);
        /* Start from initial position */
    }

    50% {
        transform: translateX(-300%);
        /* Slide to the left by 100% of element's width */
    }

    100% {
        transform: translateX(0%);
        /* Slide to the left by 100% of element's width */
    }
}
/* Apply animation to your element */
.sliding-element {
    width: 200px;
    /* Example width */
    overflow: hidden;
    /* Hide the overflow */
}

.sliding-content {
    white-space: nowrap;
    /* Ensure contents stay in one line */
    animation: slide 18s linear infinite;
    /* Apply animation with a duration of 5 seconds, linear timing and infinite repeat */
}
.conveyor:hover .sliding-content {
    animation-play-state: paused;
    /* Pause the animation when .sliding-element is hovered */
    transform: translateX(0);
    /* Bring the content to the initial position */
    overflow-x: auto;
    /* Allow horizontal scrolling when hovered */
}