.w-pc-universal-navbars{
    height: 13vh;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    position: fixed;
    width: 100vw;
    transition: 0.8s;
}

.w-pc-universal-navbars>.navbars-group{
    border: 1px solid rgba(255, 192, 203, 0);
}
.w-pc-universal-navbars>.navbar-col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.navbar-scrolled-true{
    z-index: 9000;
    backdrop-filter: blur(10px);
    background-color: rgba(93, 92, 92, 0.643);
}

.w-pc-universal-navbars>.navbar-col-2>* {
    color: black;
    transition: 0.8s;
    font-size: 6vh;
    cursor: pointer;
}
.navbar-scrolled-true>.navbar-col-2>*{
    color: #fff;
    font-size: 5vh;
    
}

.w-pc-universal-navbars>.navbar-col-3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.w-pc-universal-navbars>.navbar-col-3>*{
    margin-inline: 25px;
    font-size: 15px;
    color: black;
    transition: 0.8s;
    cursor: pointer;
}
.navbar-scrolled-true>.navbar-col-3>*{
    color: #fff;
}
