/* ------------------------------------------- PC VIEW */
.w-pc-fab-grid{
    box-sizing: border-box;
    /* border: 1px solid rgb(0, 0, 0); */
    padding: 10vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-auto-rows: 330px;
    row-gap: 5vh;
    column-gap: 1vw;
    padding-top: 20vh;
}
.w-pc-fab-grid>.fab-grid-item{
    /* border: 1px solid rgb(36, 198, 139); */
    /* background-color: aquamarine; */
    border-radius: 20px;
    box-sizing: border-box;
    padding: 13px;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.188);
    cursor: pointer;
    transition: 0.7s;
}
.w-pc-fab-grid>.fab-grid-item:hover{
    background-color: rgba(111, 109, 66, 0.344);
    backdrop-filter: blur(5px);
}
.w-pc-fab-grid>.fab-grid-item>.fab-card-img{
    width: auto;
    height: 70%;
    overflow: hidden;
    /* border: 1px solid rgb(13, 0, 255); */
    border-radius: 20px;
}
.w-pc-fab-grid>.fab-grid-item>.fab-card-img>img{
    width: 100%;
    height: auto;
    
}
.w-pc-fab-grid>.fab-grid-item>.fab-card-desc{
    height: 30%;
    /* border: 1px solid orange; */
    box-sizing: border-box;
    padding-block: 10px;
}

.w-pc-fab-grid>.fab-grid-item>.fab-card-desc>.desc-row{
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    justify-content: space-between;
    padding-inline: 10px;
}
.w-pc-fab-grid>.fab-grid-item>.fab-card-desc>.desc-row>.desc-name{
    font-weight: bolder;
    padding-block: 8px;
}
.w-pc-fab-grid>.fab-grid-item>.fab-card-desc>.desc-row>.desc-price {
    padding-block: 8px;
}
.w-pc-fab-grid>.fab-grid-item>.fab-card-desc>.desc-row>.desc-details {
    padding-block: 1px;
    font-size: 13px;
    color: rgb(82, 82, 82);
}



/* ------------------------------------------- TAB VIEW */
.w-tab-fab-grid {
    box-sizing: border-box;
    /* border: 1px solid rgb(0, 0, 0); */
    padding: 10vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-auto-rows: 330px;
    row-gap: 5vh;
    column-gap: 5vw;
    padding-top: 15vh;
}

.w-tab-fab-grid>.fab-grid-item {
    /* border: 1px solid rgb(36, 198, 139); */
    /* background-color: aquamarine; */
    border-radius: 20px;
    box-sizing: border-box;
    padding: 13px;
    padding-inline: 20px;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.188);
    cursor: pointer;
    transition: 0.7s;

}

.w-tab-fab-grid>.fab-grid-item:hover {
    background-color: rgba(111, 109, 66, 0.344);
    backdrop-filter: blur(5px);
}

.w-tab-fab-grid>.fab-grid-item>.fab-card-img {
    width: auto;
    height: 70%;
    overflow: hidden;
    /* border: 1px solid rgb(13, 0, 255); */
    border-radius: 20px;
}

.w-tab-fab-grid>.fab-grid-item>.fab-card-img>img {
    width: 100%;
    height: auto;

}

.w-tab-fab-grid>.fab-grid-item>.fab-card-desc {
    height: 30%;
    /* border: 1px solid orange; */
    box-sizing: border-box;
    padding-block: 10px;
}

.w-tab-fab-grid>.fab-grid-item>.fab-card-desc>.desc-row {
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    justify-content: space-between;
    padding-inline: 10px;
}

.w-tab-fab-grid>.fab-grid-item>.fab-card-desc>.desc-row>.desc-name {
    font-weight: bolder;
    padding-block: 8px;
}

.w-tab-fab-grid>.fab-grid-item>.fab-card-desc>.desc-row>.desc-price {
    padding-block: 8px;
}

.w-tab-fab-grid>.fab-grid-item>.fab-card-desc>.desc-row>.desc-details {
    padding-block: 1px;
    font-size: 13px;
    color: rgb(82, 82, 82);
}





/* ------------------------------------------- MOBILE VIEW */
.w-mob-fab-grid {
    box-sizing: border-box;
    /* border: 1px solid rgb(0, 0, 0); */
    padding: 10vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-auto-rows: 290px;
    row-gap: 5vh;
    column-gap: 3vw;
    padding-top: 20vh;

}

.w-mob-fab-grid>.fab-grid-item {
    /* border: 1px solid rgb(36, 198, 139); */
    /* background-color: aquamarine; */
    border-radius: 20px;
    box-sizing: border-box;
    padding: 13px;
    padding-inline: 20px;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.188);
    /* border: 1px solid red; */
    cursor: pointer;
    transition: 0.7s;
}

.w-mob-fab-grid>.fab-grid-item:hover {
    background-color: rgba(111, 109, 66, 0.344);
    backdrop-filter: blur(5px);
}

.w-mob-fab-grid>.fab-grid-item>.fab-card-img {
    width: auto;
    height: 70%;
    overflow: hidden;
    /* border: 1px solid rgb(13, 0, 255); */
    border-radius: 20px;
}

.w-mob-fab-grid>.fab-grid-item>.fab-card-img>img {
    width: 100%;
    height: auto;
    border-radius: 20px;

}

.w-mob-fab-grid>.fab-grid-item>.fab-card-desc {
    height: 30%;
    /* border: 1px solid orange; */
    box-sizing: border-box;
    padding-block: 10px;
}

.w-mob-fab-grid>.fab-grid-item>.fab-card-desc>.desc-row {
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    justify-content: space-between;
    padding-inline: 10px;
}

.w-mob-fab-grid>.fab-grid-item>.fab-card-desc>.desc-row>.desc-name {
    font-weight: bolder;
    padding-block: 8px;
}

.w-mob-fab-grid>.fab-grid-item>.fab-card-desc>.desc-row>.desc-price {
    padding-block: 8px;
}

.w-mob-fab-grid>.fab-grid-item>.fab-card-desc>.desc-row>.desc-details {
    padding-block: 1px;
    font-size: 13px;
    color: rgb(82, 82, 82);
}