/* ----- PC VIEW */

.w-pc-universal-navbar-2{
    /* background-color: aqua; */
    width: 100vw;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    padding-block: 2.5vh;
    position: fixed;
    box-shadow: 0 2px 6px rgba(103, 103, 103, 0.579);

}
.w-pc-universal-navbar-2>.group-anchors{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    /* border: 1px solid red; */
}
.w-pc-universal-navbar-2>.col-1>* {
    cursor: pointer;
}
.w-pc-universal-navbar-2>.col-2>*{
    margin-inline: 20px;
    cursor: pointer;
}   